.header-gallery {
	display: flex;
	flex-direction: column;
}

.title-1 {
	display: flex;
	height: 46px;
	margin-top: 0;
	font-size: 2em;
	align-items: center;
	padding: 0 10px;
	border: 1px solid rgba(238,238,238 ,1);
	border-radius: 5px;
	color: rgba(85,172,238 ,1);
	box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
}

.user-post {
	display: flex;
	height: auto;
	margin: 0;
	align-items: center;
	padding: 5 10px;
	border: 1px solid rgba(238,238,238 ,1);
	border-radius: 5px;
	color: rgba(117,117,117 ,1);
	box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
}

.user-post form {
	display: flex;
	flex-direction: column;
}

input[type="submit"] {
	font-size: 0.8em;
	border: 0;
	background: rgba(85,172,238 ,1);
	color: #fff;
	border-radius: 100px;
}

input[type="submit"]:hover {
	color: rgb(119, 0, 255);
}