.bloc_one {
	display: flex;
	height: 80%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin: auto;
	/* flex-direction: column; */
	border: 2px solid rgba(238,238,238 ,1);
	border-radius: 5px;
	color: rgba(117,117,117 ,1);
	box-shadow: 5px 10px 20px -12px rgba(85,172,238 ,1);
}

.tendances a{
	color: rgba(85,172,238 ,1);
}
.navbar {
	display: flex;
	height: 46px;
	margin-top: 0;
	align-items: center;
	padding: 0 10px;
	border: 1px solid rgba(238,238,238 ,1);
	border-radius: 5px;
	color: rgba(117,117,117 ,1);
	box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
}
.navbar a {
	cursor: pointer;
}
.navbar a:hover{
	color: rgb(119, 0, 255);
}
.tendances {
	color: rgba(85,172,238 ,1);
	font-size: 1.3em;
	margin-right: auto;
	margin-left: auto;
}
.navbar li:not(:last-child):not(.tendances) {
	margin-right: 10px;
}
.navbar li i:not(.fa-navbar):not(.fa-search):not(.fa-user) {
	margin-right: 3px;
}
.navbar li > button {
	font-size: 0.8em;
	border: 0;
	background: rgba(85,172,238 ,1);
	color: #fff;
	border-radius: 100px;
}

.icone {
	font-size: 20em;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
	color: rgba(117,117,117 ,1);
}

a:visited {
	text-decoration: none;
}

a:hover{
	color: rgb(119, 0, 255);
}

input body{
	margin-top: 5px;
	height:30px;
	border:1px solid lightgrey;
	border-radius: 4px;
	font-size: 15px;
}

input[type="submit"] {
	font-size: 0.8em;
	border: 0;
	background: rgba(85,172,238 ,1);
	color: #fff;
	border-radius: 100px;
}

input[type="submit"]:hover {
	color: rgb(119, 0, 255);
}

.logs {
	font-size: 2em;
	display: flex;
	flex-direction: column;
	margin: auto;
}

.logs form {
	display: flex;
	flex-direction: column;
}

.Head-title {
	font-size: 2em;
	color: rgb(119, 0, 255);
}