.bloc_one {
	display: flex;
	height: 80%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin: auto;
	/* flex-direction: column; */
	border: 2px solid rgba(238,238,238 ,1);
	border-radius: 5px;
	color: rgba(117,117,117 ,1);
	box-shadow: 5px 10px 20px -12px rgba(85,172,238 ,1);
}

.icone {
	font-size: 20em;
	margin-left: auto;
	margin-right: auto;
}

input {
	margin-top: 5px;
	height:30px;
	border:1px solid lightgrey;
	border-radius: 4px;
	font-size: 15px;
}

input[type="submit"] {
	font-size: 0.8em;
	border: 0;
	background: rgba(85,172,238 ,1);
	color: #fff;
	border-radius: 100px;
}

input[type="submit"]:hover {
	color: rgb(119, 0, 255);
}

.logs {
	font-size: 2em;
	display: flex;
	flex-direction: column;
	margin: auto;
}

.logs form {
	display: flex;
	flex-direction: column;
}